* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f4f4;
    height: 100vh;    
}
/* HEADER */



nav {
    
    font-family: 'Comfortaa', cursive;
    font-size: 1.3em;
    
}



.navbar-brand {
    font-size: 1.1em;
    font-weight: bold;
    
}


#WB {
    color: #7d256e65;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

#WB:hover {
    color: #7d256ec0;
    background-color: #ffffff
}
#WB:focus {
    background-color: #ffffff ;
}

#Ozon {
    color: #0059ff69;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

#Ozon:hover {
    color: #0059ffd4;
    background-color: #ffffff
}

#Ozon:focus {
    background-color: #ffffff
}




/* MAIN */

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 5%;
}

#mainDiv {

flex: 1 0 auto;
}

h2 {
    text-align: left;
    margin: 5%;
    font-family: 'Comfortaa', cursive;
    color: rgba(0, 0, 0, 0.532);
    
}


img {
    
    width: 49% ;
   
    
}

img:hover {
    opacity: 100% !important;
    transition: opacity 1s ease;
}

img:not(:hover){
transition: opacity 1.6s ease;

}

#textHeader {
    font-weight: 900;
    margin-bottom: -5%;
}


#creamImage {
     
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 1%;
    

}

#greenImage {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 1%;
}

#secondText {
    margin-left: 5%;
}

main div:last-child {
    display: inline-block;
    text-align: left;
    margin: 10% 0 5% 0;
    font-family: 'Comfortaa', cursive;
    color: rgba(0, 0, 0, 0.532);
    font-size: 25px;
    }

#funallez3_3 {
    display: inline-block !important;
    width: 24% !important;
}

#funallez2_2_3 {
    display: inline-block !important;
    width: 24% !important;
    }
 #funallez4_5 {
     display: inline-block !important;
     width: 24% !important;
        }
 #funallez_29 {
     display: inline-block !important;
     width: 24% !important;
            }

            #bottomImg {
                margin-left: 3% ;
                padding-bottom: 5%;
            }
/* FOOTER */

footer {
    
    background-color: rgba(237, 219, 219, 0.628);
    box-shadow: 0 -5px 2px -5px #3333335f;
    flex: 0 0 auto;
}

footer div:first-child {
    font-family: 'Comfortaa', cursive;
    color: rgba(0, 0, 0, 0.483);
    font-size: 1em;
    text-align: center;
    padding-right: 2%;
    padding-top: 1%;
    
    
}

/* JAVASCRIPT */

